<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ISTA FURNITURE INVENTORY</title>
    <link rel = "icon" href = "/img/icon.png" type = "image/x-icon">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Staff-Admin/dashboard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <div class="sidebar-brand-text mx-3">STAFF ADMIN</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/Staff-Admin/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Interface
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/Staff-Admin/addrecords">
                    <i class="fas fa-fw fa-plus-square"></i>
                    <span>Add Records</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Staff-Admin/unverifedrecords">
                    <i class="fas fa-fw fa-check-double"></i>
                    <span>Unverified Records</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Staff-Admin/verifyrecords">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Approved Records</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Staff-Admin/verifystaff">
                    <i class="fas fa-fw fa-user-check"></i>
                    <span>Staff Verification</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Staff-Admin/approvedrecords">
                    <i class="fas fa-fw fa fa-file-pdf-o"></i>
                    <span>Generate PDF</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Staff-Admin/godownRecords">
                    <i class="fas fa-fw fa fa-file-pdf-o"></i>
                    <span>Godown Records</span></a>
            </li>
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= user %></span>
                                <img class="img-profile rounded-circle"
                                    src="/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/Staff-Admin/profile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Edit Records</h1>
                    </div>
                    <div class="wrapper">
                        <form class="form-right" action="/Staff-Admin/editrecord" method="post">
                            <% if (record!=""){%>
                                <input type="hidden" value="<%= record._id %>" name="id">
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <label class="control-label">Product Name</label>
                                        <input type="text" name="pname" class="input-field" value="<%= record.productName%>" required>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="control-label">Quantity</label>
                                        <input type="number" name="quantity" onkeyup="calc()" id="quantity" class="input-field" value="<%= record.quantity%>" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9 mb-3">
                                        <label class="control-label">Description</label>
                                        <textarea type="text" rows="1" class="input-field" name="description" required><%= record.description%></textarea>
                                    </div>
                                    <div class="col-sm-3 mb-3">
                                        <label class="control-label">Invoice</label>
                                        <input type="number" name="invoice" class="input-field" value="<%= record.inVoice%>" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Date of Purchase</label>
                                        <input type="date" name="dop" class="input-field" value="<%= record.dop%>" required>
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Company</label>
                                        <input type="text" name="company" class="input-field" value="<%= record.company%>" required>
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Original Rate</label>
                                        <input type="number" name="rate" step="0.01" onkeyup="calc()" id="rate" class="input-field" value="<%= record.rate%>" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Tax Type</label>
                                        <select class="input-field" name="taxtype">
                                            <option value="GST">GST</option>
                                            <option value="VAT">VAT</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Tax Percentage</label>
                                        <input type="number" onkeyup="calc()" name="percent" id="percent" class="input-field" value="<%= record.percentage%>" required>
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label class="control-label">Delivery Charge</label>
                                        <input type="number" name="delivery" onkeyup="calc()" step="0.01" id="delivery" class="input-field" value="<%= record.delivery%>" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <label class="control-label">Total Cost</label>
                                        <input type="number" name="cost"  id="cost" step="0.01" class="input-field" value="<%= record.cost%>" readonly required>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="control-label">Warranty</label>
                                        <input type="date" name="warranty" class="input-field" value="<%= record.warranty%>" required>
                                    </div>
                                </div>
                                <div class="mt-2 text-center">
                                    <button type="submit" id="success" class="register">Modify</button>
                                </div>
                            <%}%>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; ISTA 2023</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form action="/Staff-Admin/logout" method="post">
                        <button class="btn btn-primary" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
</body>
    <script>
        function calc() {
            var tot=document.getElementById("quantity").value*Number(document.getElementById("rate").value);
            var tc=((document.getElementById("percent").value/100)*Number(tot))+Number(tot)+Number(document.getElementById("delivery").value)
            document.getElementById("cost").value=tc;
        }       
    </script>
</html>